<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_new_show.css' %}">
    <title>Add a New Show</title>
</head>

<body>
    <div class="container">
        <div class="main">
            <h1>Add a New Show</h1>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/shows/create" method="POST">
                {% csrf_token %}
                <div class="net_rel_div">
                    <label for="title">Title</label>
                    <input type='text' name='title' id="title">
                </div>

                <div id="network_date1">
                    <div class="net_rel_div">
                        <label for="network">Network</label>
                        <input type='text' name='network' id="network">
                    </div>
                    <div class="net_rel_div">
                        <label for="release_date">Release Date</label>
                        <input type="date" name="release_date" id="release_date">
                    </div>
                </div>

                <div class="net_rel_div">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="40" rows="4"></textarea>
                </div>

                <div class="button-wrapper">
                    <button class="btn" type="submit">Create</button>
                    <button class="btn" type="button" onclick="window.location.href='/'">Home</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
