<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tvShow.css' %}">
    <title>TV Show{{id}}</title>
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="info">
                <h1>TV Show # {{show.id}}</h1>
                <h4>Title:</h4>
                <p>{{ show.title }}</p>
                <h4>Network:</h4>
                <p>{{ show.network }}</p>
                <h4>Release Date:</h4>
                <p>{{ show.release_date }}</p>
                <h4>Description:</h4>
                <p>{{ show.description }}</p>
                <h4>Last Updated:</h4>
                <p>{{ show.updated_at }}</p>
            </div>
        </div>
        <div class="button-wrapper">
            <a href="{% url 'edit' show.id %}">
                <button class="btn" type="button">Edit</button>
            </a>
            <form method="POST" id="delete_btn" action="{% url 'delete' show.id %}">
                {% csrf_token %}
                <button type="submit" class="btn"
                    onclick="return confirm('Are you sure you want to delete this show?');">Delete</button>
            </form>
            <button class="btn" type="button" onclick="window.location.href='{% url 'index' %}'">Home</button>
        </div>
    </div>
</body>

</html>