<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tvShow.css' %}">
    <title>TV Show{{id}}</title>
</head>
<body>
    <div id="container3">
        <a id="go_back_link" href="/">Go Back</a>
        <div id="info">
            <h1>TV Show # {{show.id}}</h1>
            <h4>Title:</h4>
            <p>{{ show.title }}</p>
            <h4>Network:</h4>
            <p>{{ show.network }}</p>
            <h4>Release Date:</h4>
            <p>{{ show.release_date }}</p>
            <h4>Description:</h4>
            <p>{{ show.description }}</p>
            <h4>Last Updated:</h4>
            <p>{{ show.updated_at }}</p>
        </div>
        <div id="links"><a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a></div>
    </div>
</body>
</html>