<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all_shows.css' %}">
    <title>All Shows Home</title>
</head>

<body>
    <div class="container">
        <div class="main">
            <h1>All Shows</h1>
            <table>
                <thead>
                    <tr>
                        <th class="id_column">Id</th>
                        <th class="row_line">Title</th>
                        <th class="row_line">Network</th>
                        <th class="row_line">Release Date</th>
                        <th class="row_line">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in all_shows %}
                    <tr>
                        <td class="id_column">{{show.id}}</td>
                        <td class="row_line">{{show.title}}</td>
                        <td class="row_line">{{show.network}}</td>
                        <td class="row_line">{{show.release_date}}</td>
                        <td class="row_line">
                            <div id="links_button">
                                <a id="show_line" href="{% url 'show' show.id %}">Show</a><span class="span">|</span>
                                <a href="shows/{{show.id}}/edit">Edit</a><span class="span">|</span>
                                <form method="POST" id="delete_btn" action="shows/{{ show.id }}/delete">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-all"
                                        onclick="return confirm('Are you sure you want to delete this show?');">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="button-wrapper">
            <button class="btn" type="button" onclick="window.location.href='/shows/new'">Add New Show</button>
        </div>
    </div>
</body>

</html>