<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_show.css' %}">
    <title>Edit Show {{show.id}}</title>
</head>

<body>
    <div class="container">
        <div class="main">
            <h1>Edit Show {{show.id}}</h1>
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <form action="/shows/{{show.id}}/update" method="POST">
                {% csrf_token %}
                <div class="net_rel_div">
                    <label for="title">Title</label>
                    <input type='text' name='title' value="{{ show.title }}">
                </div>

                <div id="network_date1">
                    <div class="net_rel_div">
                        <label for="network">Network</label>
                        <input type='text' name='network' value="{{ show.network }}">
                    </div>
                    
                    <div class="net_rel_div">
                        <label for="release_date">Release Date</label>
                        <input id="date_box" type="date" name="release_date" value="{{ show.release_date|date:'Y-m-d' }}">
                    </div>
                </div>
                
                <div class="net_rel_div">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" cols="40" rows="4">{{ show.description }}</textarea>
                </div>

                <div class="button-wrapper">
                    <button class="btn" type="submit">Update</button>
                    <button class="btn" type="button" onclick="window.location.href='show'">Go to Show</button>
                    <button class="btn" type="button" onclick="window.location.href='/'">Home</button>
                </div>
            </form>
            
        </div>
    </div>
</body>

</html>