<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tvShow.css' %}">
    <title>TV Show{{id}}</title>
</head>

<body>
    <div class="container">
        <div class="main">
                <h1>TV Show # {{show.id}}</h1>
                <div class="content">
                    <div>
                        <h3>Title:</h3>
                        <p>{{ show.title }}</p>
                    </div>
                    <div>
                        <h3>Network:</h3>
                        <p>{{ show.network }}</p>
                    </div>
                    <div>
                        <h3>Release Date:</h3>
                        <p>{{ show.release_date }}</p>
                    </div>
                    <div>
                        <h3>Description:</h3>
                        <p>{{ show.description }}</p>
                    </div>
                    <div>
                        <h3>Last Updated:</h3>
                        <p>{{ show.updated_at }}</p>
                    </div>
                </div>
                
        </div>
        <div class="button-wrapper">
            <a href="{% url 'edit' show.id %}">
                <button class="btn" type="button">Edit</button>
            </a>
            <form method="POST" id="delete_btn" action="{% url 'delete' show.id %}">
                {% csrf_token %}
                <button type="submit" class="btn"
                    onclick="return confirm('Are you sure you want to delete this show?');">Delete</button>
            </form>
            <button class="btn" type="button" onclick="window.location.href='{% url 'index' %}'">Home</button>
        </div>
    </div>
</body>

</html>