@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
    font-family: Lora, serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content */
    background-color: black;
    min-height: 100vh; /* Ensures the container covers the full viewport height */
    padding: 20px; /* Adds padding around the container */
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #333; /* Optional: Adds a background color for better contrast */
    padding: 50px 120px 50px 120px; /* Adds padding inside the main div */
    border-radius: 10px; /* Optional: Rounds the corners of the main div */
    width: 100%;
}

h1 {
    color: rgb(123, 202, 27);
    margin: 0 auto;
    margin-bottom: 40px;
}

.content {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.content > div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

h3 {
    color: rgb(123, 202, 27);
    margin: 0;
    min-width: 150px; /* Adjust to ensure all h3 align properly */
    text-align: right; /* Align text to the right */
    padding-right: 20px; /* Increase space between h3 and p */
}

p {
    margin: 0;
    flex: 1;
    font-size: large;
}




.button-wrapper {
    display: flex;
    justify-content: center; /* Center align buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin: 30px 0 20px 0; /* Add some space above the buttons */
}

.btn {
    background-color: blue;
    color: whitesmoke;
    padding: 10px 20px; /* Adds padding to the buttons */
    border: none; /* Removes the default border */
    border-radius: 7px; /* Rounds the corners of the buttons */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    font-size: 16px; /* Increases the font size */
    transition: background-color 0.3s; /* Smooth transition for background color on hover */
}

.btn:hover {
    background-color: darkblue; /* Changes the background color on hover */
}



/* h4 {
    display: flex;
    padding: 10px 0 0 20px;
    margin-left: 20px;
} */


